# Well Played, Mauer: Data Cleaning

Where all of my raw CSVs will be imported, cleaned, and exported for analysis for the larger **Well Played, Mauer** series on offensive production.

In [1]:
# import the necessary packages
import os
import sys
import pandas as pd

In [2]:
# set up the file paths
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
raw_data_dir = os.path.join(project_root, 'data', 'raw')
processed_data_dir = os.path.join(project_root, 'data', 'processed')

# test the paths
# print(f'Project Root: {project_root}')
# print(f'Raw Data Directory: {raw_data_dir}')
# print(f'Processed Data Directory: {processed_data_dir}')

In [3]:
# read in the csv for qualified batters in 2009
# data courtesy of stathead
filename = 'mlb_qualified_batters_2009.csv'
csv_path = os.path.join(raw_data_dir, filename)
batters_2009 = pd.read_csv(csv_path)

batters_2009.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rk                 155 non-null    int64
 1   Player             155 non-null    object
 2   Age                155 non-null    int64
 3   Team               155 non-null    object
 4   Lg                 155 non-null    object
 5   G                  155 non-null    int64
 6   PA                 155 non-null    int64
 7   AB                 155 non-null    int64
 8   R                  155 non-null    int64
 9   H                  155 non-null    int64
 10  1B                 155 non-null    int64
 11  2B                 155 non-null    int64
 12  3B                 155 non-null    int64
 13  HR                 155 non-null    int64
 14  RBI                155 non-null    int64
 15  SB                 155 non-null    int64
 16  CS                 155 non-null    int64
 17  BB                 155 non-null    int64
 18  SO                 155 non-null    int64
 19  BA                 155 non-null    float64
 20  OBP                155 non-null    float64
 21  SLG                155 non-null    float64
 22  OPS                155 non-null    float64
 23  OPS+               155 non-null    int64
 24  TB                 155 non-null    int64
 25  GIDP               155 non-null    int64
 26  HBP                155 non-null    int64
 27  SH                 155 non-null    int64
 28  SF                 155 non-null    int64
 29  IBB                155 non-null    int64
 30  WAR                155 non-null    float64
 31  WAA                155 non-null    float64
 32  oWAR               155 non-null    float64
 33  dWAR               155 non-null    float64
 34  Rbat               155 non-null    int64
 35  Rdp                155 non-null    int64
 36  Rbaser             155 non-null    int64
 37  Rbaser + Rdp       155 non-null    int64
 38  Rfield             155 non-null    int64
 39  Pos                155 non-null    object
 40  Player-additional  155 non-null    object
dtypes: float64(8), int64(28), object(5)
memory usage: 49.8+ KB

There do not appear to be any strange data types!

In [4]:
# read in the csv for advanced batting stats
# for qualified batters in 2009
# data courtesy of baseball reference
filename = 'mlb_qualified_batters_2009_adv.csv'
csv_path = os.path.join(raw_data_dir, filename)
batters_2009_adv = pd.read_csv(csv_path)

batters_2009_adv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rk                 157 non-null    int64
 1   Player             157 non-null    object
 2   Age                157 non-null    int64
 3   Team               157 non-null    object
 4   Lg                 157 non-null    object
 5   PA                 157 non-null    int64
 6   rOBA               157 non-null    float64
 7   Rbat+              157 non-null    int64
 8   BAbip              157 non-null    float64
 9   ISO                157 non-null    float64
 10  HR%                157 non-null    float64
 11  SO%                157 non-null    float64
 12  BB%                157 non-null    float64
 13  LD%                157 non-null    float64
 14  GB%                157 non-null    float64
 15  FB%                157 non-null    float64
 16  GB/FB              157 non-null    float64
 17  Pull%              157 non-null    float64
 18  Cent%              157 non-null    float64
 19  Oppo%              157 non-null    float64
 20  WPA                157 non-null    float64
 21  cWPA               157 non-null    object
 22  RE24               157 non-null    float64
 23  RS%                157 non-null    float64
 24  SB%                152 non-null    float64
 25  XBT%               157 non-null    float64
 26  Pos                157 non-null    object
 27  Awards             67 non-null     object
 28  Player-additional  157 non-null    object
dtypes: float64(18), int64(4), object(7)
memory usage: 35.7+ KB

The columns I want to use are fine.

In [5]:
# specify the columns to use from the right df
columns = [
    'rOBA',
    'Rbat+',
    'BAbip',
    'ISO',
    'HR%',
    'SO%',
    'BB%',
    'LD%',
    'GB%',
    'FB%',
    'GB/FB',
    'Pull%',
    'Cent%',
    'Oppo%',
    'WPA',
    'RE24',
    'Player-additional'
]

In [6]:
# merge the two dataframes
merged_batters = pd.merge(
    batters_2009,
    batters_2009_adv[columns],
    how='left',
    on='Player-additional'
)
merged_batters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 57 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rk                 155 non-null    int64
 1   Player             155 non-null    object
 2   Age                155 non-null    int64
 3   Team               155 non-null    object
 4   Lg                 155 non-null    object
 5   G                  155 non-null    int64
 6   PA                 155 non-null    int64
 7   AB                 155 non-null    int64
 8   R                  155 non-null    int64
 9   H                  155 non-null    int64
 10  1B                 155 non-null    int64
 11  2B                 155 non-null    int64
 12  3B                 155 non-null    int64
 13  HR                 155 non-null    int64
 14  RBI                155 non-null    int64
 15  SB                 155 non-null    int64
 16  CS                 155 non-null    int64
 17  BB                 155 non-null    int64
 18  SO                 155 non-null    int64
 19  BA                 155 non-null    float64
 20  OBP                155 non-null    float64
 21  SLG                155 non-null    float64
 22  OPS                155 non-null    float64
 23  OPS+               155 non-null    int64
 24  TB                 155 non-null    int64
 25  GIDP               155 non-null    int64
 26  HBP                155 non-null    int64
 27  SH                 155 non-null    int64
 28  SF                 155 non-null    int64
 29  IBB                155 non-null    int64
 30  WAR                155 non-null    float64
 31  WAA                155 non-null    float64
 32  oWAR               155 non-null    float64
 33  dWAR               155 non-null    float64
 34  Rbat               155 non-null    int64
 35  Rdp                155 non-null    int64
 36  Rbaser             155 non-null    int64
 37  Rbaser + Rdp       155 non-null    int64
 38  Rfield             155 non-null    int64
 39  Pos                155 non-null    object
 40  Player-additional  155 non-null    object
 41  rOBA               155 non-null    float64
 42  Rbat+              155 non-null    int64
 43  BAbip              155 non-null    float64
 44  ISO                155 non-null    float64
 45  HR%                155 non-null    float64
 46  SO%                155 non-null    float64
 47  BB%                155 non-null    float64
 48  LD%                155 non-null    float64
 49  GB%                155 non-null    float64
 50  FB%                155 non-null    float64
 51  GB/FB              155 non-null    float64
 52  Pull%              155 non-null    float64
 53  Cent%              155 non-null    float64
 54  Oppo%              155 non-null    float64
 55  WPA                155 non-null    float64
 56  RE24               155 non-null    float64
dtypes: float64(23), int64(29), object(5)
memory usage: 69.1+ KB

This merged dataframe has everything I could need!

In [ ]:
# export the dataframe for qualified mlb batters in 2009
filename = 'mlb_qualified_batters_2009_processed.csv'
csv_path = os.path.join(processed_data_dir, filename)
merged_batters.to_csv(csv_path)

In [ ]:
# read in the csv for major league batting totals
# data courtesy of baseball reference
filename = 'ml_batting_totals.csv'
csv_path = os.path.join(raw_data_dir, filename)
ml_batting = pd.read_csv(csv_path)

ml_batting.info()

## Cleaning for Dashboard Usage

I have some transformation of the dataframes to do in order to create some of the dashboards I want.

First, I want to make bar charts for the various rate metrics that compare a filtered player to the League. To accomplish this, I need each row to be for a Player, Stat, and Value. So, basically, a row would be like Joe Mauer, AVG, .365. Then, I can add in the MLB averages using the data from Baseball Reference.

In [10]:
# rename BA to AVG
merged_batters.rename(columns={'BA':'AVG', 'BAbip':'BABiP'}, inplace=True)
merged_batters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 57 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rk                 155 non-null    int64
 1   Player             155 non-null    object
 2   Age                155 non-null    int64
 3   Team               155 non-null    object
 4   Lg                 155 non-null    object
 5   G                  155 non-null    int64
 6   PA                 155 non-null    int64
 7   AB                 155 non-null    int64
 8   R                  155 non-null    int64
 9   H                  155 non-null    int64
 10  1B                 155 non-null    int64
 11  2B                 155 non-null    int64
 12  3B                 155 non-null    int64
 13  HR                 155 non-null    int64
 14  RBI                155 non-null    int64
 15  SB                 155 non-null    int64
 16  CS                 155 non-null    int64
 17  BB                 155 non-null    int64
 18  SO                 155 non-null    int64
 19  AVG                155 non-null    float64
 20  OBP                155 non-null    float64
 21  SLG                155 non-null    float64
 22  OPS                155 non-null    float64
 23  OPS+               155 non-null    int64
 24  TB                 155 non-null    int64
 25  GIDP               155 non-null    int64
 26  HBP                155 non-null    int64
 27  SH                 155 non-null    int64
 28  SF                 155 non-null    int64
 29  IBB                155 non-null    int64
 30  WAR                155 non-null    float64
 31  WAA                155 non-null    float64
 32  oWAR               155 non-null    float64
 33  dWAR               155 non-null    float64
 34  Rbat               155 non-null    int64
 35  Rdp                155 non-null    int64
 36  Rbaser             155 non-null    int64
 37  Rbaser + Rdp       155 non-null    int64
 38  Rfield             155 non-null    int64
 39  Pos                155 non-null    object
 40  Player-additional  155 non-null    object
 41  rOBA               155 non-null    float64
 42  Rbat+              155 non-null    int64
 43  BABiP              155 non-null    float64
 44  ISO                155 non-null    float64
 45  HR%                155 non-null    float64
 46  SO%                155 non-null    float64
 47  BB%                155 non-null    float64
 48  LD%                155 non-null    float64
 49  GB%                155 non-null    float64
 50  FB%                155 non-null    float64
 51  GB/FB              155 non-null    float64
 52  Pull%              155 non-null    float64
 53  Cent%              155 non-null    float64
 54  Oppo%              155 non-null    float64
 55  WPA                155 non-null    float64
 56  RE24               155 non-null    float64
dtypes: float64(23), int64(29), object(5)
memory usage: 69.1+ KB

In [11]:
# isolate the columns to use for the transformed df
columns_to_use = [
    'Player',
    'AVG',
    'OBP',
    'SLG',
    'BABiP',
    'ISO',
    'GB%',
    'FB%',
    'LD%',
    'Oppo%',
    'Cent%',
    'Pull%'
]

In [12]:
# create a subset of batters
batters_subset = merged_batters[columns_to_use]
batters_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  155 non-null    object
 1   AVG     155 non-null    float64
 2   OBP     155 non-null    float64
 3   SLG     155 non-null    float64
 4   BABiP   155 non-null    float64
 5   ISO     155 non-null    float64
 6   GB%     155 non-null    float64
 7   FB%     155 non-null    float64
 8   LD%     155 non-null    float64
 9   Oppo%   155 non-null    float64
 10  Cent%   155 non-null    float64
 11  Pull%   155 non-null    float64
dtypes: float64(11), object(1)
memory usage: 14.7+ KB

In [13]:
# melt the df to a long format
batters_long = pd.melt(batters_subset, id_vars='Player', var_name='StatType', value_name='Value')
batters_long.sort_values(by='Player', ascending=True).head(10)

               Player StatType   Value
270   A.J. Pierzynski      OBP   0.331
1200  A.J. Pierzynski      LD%  19.900
115   A.J. Pierzynski      AVG   0.300
1045  A.J. Pierzynski      FB%  27.300
1510  A.J. Pierzynski    Cent%  54.800
890   A.J. Pierzynski      GB%  46.500
735   A.J. Pierzynski      ISO   0.125
580   A.J. Pierzynski    BABiP   0.312
1665  A.J. Pierzynski    Pull%  25.100
1355  A.J. Pierzynski    Oppo%  20.100

In [14]:
# create the dictionary of league averages
lg_avgs = {
    'AVG':.262,
    'OBP':.333,
    'SLG':.418,
    'BABiP':.299,
    'ISO':.155,
    'GB%':42.8,
    'FB%':28.5,
    'LD%':18.9,
    'Oppo%':16.7,
    'Cent%':57.1,
    'Pull%':26.2
}

In [17]:
# convert dict to df
lg_avgs_df = pd.DataFrame({
    'Player': ['MLB'] * len(lg_avgs),
    'StatType': list(lg_avgs.keys()),
    'Value': list(lg_avgs.values())
})
lg_avgs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Player    11 non-null     object
 1   StatType  11 non-null     object
 2   Value     11 non-null     float64
dtypes: float64(1), object(2)
memory usage: 392.0+ bytes

In [18]:
batters_long = pd.concat([batters_long, lg_avgs_df], ignore_index=True)
batters_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716 entries, 0 to 1715
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Player    1716 non-null   object
 1   StatType  1716 non-null   object
 2   Value     1716 non-null   float64
dtypes: float64(1), object(2)
memory usage: 40.3+ KB

Looking good! Ready to export!

In [19]:
# export the long dataframe for dashboard usage
filename = 'mlb_qualified_batters_2009_long.csv'
csv_path = os.path.join(processed_data_dir, filename)
batters_long.to_csv(csv_path)